body {
  background-color: #262626;
  font-family: helvetica;
}

div.header-img {
  width: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
  position: fixed;
}

#header-img {
  width: 350px;
  filter: invert(100%);
  margin: auto;
  display: block;
}

div.nav-bar {
  overflow: hidden;
  position: fixed;
  background-color: #1a1a1a;
  width: 199%;
  top: 47%;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 14px 50px;
  float: left;
}

.nav-link:hover {
  background-color: #999966;
}

.title {
  margin-top: 150px;
  color: #999966;
  text-align: center;
}

#email {
  display: block;
  margin: auto;
  width: 180px;
  padding: 8ps;
  border-radius: 50px;
  border: none;
  background-color: #666633;
  font-size: 15px;
  transition: background 0.5s ease;
}
#email::placeholder {
  color: white;
  opacity: 80%;
}
#email:hover {
  background-color: #999966;
  width: 300px;
}

#submit {
  display: block;
  margin: auto;
  padding: 8px;
  border: none;
  border-radius: 50px;
  width: 80px;
  background-color: #999966;
  margin-top: 20px;
  color: white;
  font-size: 15px;
}

#submit:hover {
  background-color: #999966;
}

.text {
  width: 700px;
  margin: auto;
  color: #999966;
  margin-top: 100px;
  transition: text-shadow 0.5s ease;
}

.text:hover {
  text-shadow: 0px 0px 10px;
}

#video {
  margin: auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #999966;
  padding: 5px;
}

div.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

div.products {
  background-color: white;
  margin: 20px;
  transition: box-shadow 0.5s ease;
}

.products:hover {
  box-shadow: 0px 0px 10px #999966;
}

div-product-title {
  padding: 10px;
  background-color: #999966;
  color: white;
  text-align: center;
}

div.product-description {
  color: #008fb3;
}

#product-submit {
  background-color: #666633;
  border: none;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}

#product-submit:hover {
  background-color: #999966;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
  .nav-link {
    width: 100%;
    margin: auto;
  }
  .text {
    width: 400px;
  }
}
